%nav
  %ul.pagination
    - if dataset.first_page?
      %li.disabled
        %a{ href: '#' }
          %span &laquo;
    - else
      %li
        %a{ href: url(:leaderboard, :players, sort_by: params['sort_by'], page: dataset.prev_page ) }
          %span &laquo;

    - if dataset.page_count <= 20
      - dataset.page_range.each do |i|
        - if dataset.current_page == i
          %li.active
            = link_to i, url(:leaderboard, :players, sort_by: params['sort_by'], page: i)
        - else
          %li
            = link_to i, url(:leaderboard, :players, sort_by: params['sort_by'], page: i)
    - else
      - (1 .. 10).each do |i|
        - if dataset.current_page == i
          %li.active
            = link_to i, url(:leaderboard, :players, sort_by: params['sort_by'], page: i)
        - else
          %li
            = link_to i, url(:leaderboard, :players, sort_by: params['sort_by'], page: i)

      %li.disabled
        %span ...

      - (dataset.page_count - 10 .. dataset.page_count).each do |i|
        - if dataset.current_page == i
          %li.active
            = link_to i, url(:leaderboard, :players, sort_by: params['sort_by'], page: i)
        - else
          %li
            = link_to i, url(:leaderboard, :players, sort_by: params['sort_by'], page: i)

    - if dataset.last_page?
      %li.disabled
        %a{ href: '#' }
          %span &raquo;
    - else
      %li
        %a{ href: url(:leaderboard, :players, sort_by: params['sort_by'], page: dataset.next_page ) }
          %span &raquo;
