.row
  .col-md-12
    .jumbotron
      %h1 Observatory
      %p Get player statistics from NS2's Hive 2 ranking system.

.row
  .col-md-4
    %h2 Query data of player
    = form_tag url(:player_data, :single), method: :get do
      .form-group
        = label_tag :steam_account_id
        = text_field_tag :steam_account_id, class: 'form-control', value: params['steam_account_id'], placeholder: 'Steam ID, Steam ID 3, Steam ID 64, Vanity URL'

      = submit_tag 'Query', class: 'btn btn-default'

  .col-md-2

  .col-md-6
    - if @data
      = partial 'player_data/player_data_table', locals: { data: @data[:result], steam_id: params['steam_account_id'] }
