- if player_statistics.steam_id
  %table.table.table-bordered
    %tbody
      %tr
        %th
        %th Alien
        %th Marine
        %th Total
      %tr
        %th K/D
        %td= player_statistics.kdr.alien  ? player_statistics.kdr.alien.round(2)  : 'N/A'
        %td= player_statistics.kdr.marine ? player_statistics.kdr.marine.round(2) : 'N/A'
        %td= player_statistics.kdr.total  ? player_statistics.kdr.total.round(2)  : 'N/A'
      %tr
        %th Accuracy
        %td= player_statistics.accuracy.alien ? fraction_as_percentage(player_statistics.accuracy.alien, 1) : 'N/A'
        %td
          = "#{ player_statistics.accuracy.marine.total ? fraction_as_percentage(player_statistics.accuracy.marine.total, 1) : 'N/A' } (No Onos: #{ player_statistics.accuracy.marine.no_onos ? fraction_as_percentage(player_statistics.accuracy.marine.no_onos, 1) : 'Not available' })"
        %td= player_statistics.accuracy.total ? fraction_as_percentage(player_statistics.accuracy.total, 1) : 'N/A'
- else
  .well
    No additional data available. :(

    = link_to 'What does this mean?', "#{ url(:observatory, :faq) }#faq-data-noadditionaldata"
