- if player_statistics.steam_id
  %table.table.table-bordered
    %tbody
      %tr
        %th
        %th Alien
        %th Marine
        %th Total
      %tr
        %th K/D
        %td= player_statistics.kdr.alien.round(2)
        %td= player_statistics.kdr.marine.round(2)
        %td= player_statistics.kdr.total.round(2)
      %tr
        %th Accuracy
        %td= fraction_as_percentage(player_statistics.accuracy.alien, 1)
        %td
          = "#{ fraction_as_percentage(player_statistics.accuracy.marine.total, 1) } (No Onos: #{ fraction_as_percentage(player_statistics.accuracy.marine.no_onos, 1) })"
        %td= fraction_as_percentage(player_statistics.accuracy.total, 1)
- else
  .well
    No additional data available. :(

    = link_to 'What does this mean?', "#{ url(:observatory, :faq) }#faq-data-noadditionaldata"
