%table.table.table-bordered
  %tbody
    %tr
      %th Skill
      %td= number_with_separator(player.skill)
      %td= player_rank_link(player, :skill)
    %tr
      %th Level / Exp
      %td= "Lvl #{ player.level } / #{ number_with_separator(player.experience) } XP"
      %td= player_rank_link(player, :experience)
    %tr
      %th Score
      %td= number_with_separator(player.score)
      %td= player_rank_link(player, :score)
    %tr
      %th Score / min
      %td= (player.score_per_second * 60).round(2)
      %td= player_rank_link(player, :score_per_second)

%table.table.table-bordered
  %tbody
    %tr
      %th{ colspan: 2 } Time played as
    %tr
      %td Total
      %td= timespan_in_words(player.time_total, unit: :hours)
    %tr
      %td Alien
      %td= "#{ timespan_in_words(player.time_alien, unit: :hours) } (#{ fraction_as_percentage(player.time_alien, player.time_total) })"
    %tr
      %td Marine
      %td= "#{ timespan_in_words(player.time_marine, unit: :hours) } (#{ fraction_as_percentage(player.time_marine, player.time_total) })"
    %tr
      %td Commander
      %td= "#{ timespan_in_words(player.time_commander, unit: :hours) } (#{ fraction_as_percentage(player.time_commander, player.time_total) })"
