%table.table.table-bordered
  %tbody
    %tr
      %th Steam ID
      %td= link_to player.steam_id.id, player.steam_id.profile_url

%table.table.table-bordered
  %tbody
    %tr
      - ranks = player.rank([:skill, :experience, :score, :score_per_second])
      %th Skill
      %td= number_with_separator(player.skill)
      %td= player_rank_link(ranks, :skill)
    %tr
      %th Level / Exp
      %td= "Lvl #{ player.level } / #{ number_with_separator(player.experience) } XP"
      %td= player_rank_link(ranks, :experience)
    %tr
      %th Score
      %td= number_with_separator(player.score)
      %td= player_rank_link(ranks, :score)
    %tr
      %th Score / min
      %td= (player.score_per_second * 60).round(2)
      %td= player_rank_link(ranks, :score_per_second)

%table.table.table-bordered
  %tbody
    %tr
      %th{ colspan: 2 } Time played as
    %tr
      %td Total
      %td= timespan_in_words(player.time_total)
    %tr
      %td Alien
      %td= "#{ timespan_in_words(player.time_alien) } (#{ fraction_as_percentage(player.time_alien, player.time_total) })"
    %tr
      %td Marine
      %td= "#{ timespan_in_words(player.time_marine) } (#{ fraction_as_percentage(player.time_marine, player.time_total) })"
    %tr
      %td Commander
      %td= "#{ timespan_in_words(player.time_commander) } (#{ fraction_as_percentage(player.time_commander, player.time_total) })"
