%table.table.table-bordered
  %thead
    %tr
      %th Account ID
      %th Alias
      %th Level
      %th Skill
      %th Last Active
  %tbody
    - results[:direct].each do |player|
      %tr
        %td= link_to player.account_id, url(:players, :profile, id: player.id)
        %td= player.alias
        %td= player.level
        %td= player.skill
        %td= player.last_activity ? player.last_activity.strftime('%d.%m.%Y') : 'Never'

    - results[:indirect].each do |player|
      %tr
        %td= link_to player.account_id, url(:players, :profile, id: player.id)
        %td= player.alias
        %td= player.level
        %td= player.skill
        %td= player.last_activity ? player.last_activity.strftime('%d.%m.%Y') : 'Never'
