%h2 Skill progression
%table.table.table-bordered
  %thead
    %tr
      %th Date
      %th Skill
      %th Score
      %th Score / min
      %th Experience
      %th Level
  %tbody
    - player_data_points.each do |data|
      %tr
        %td= pp_datetime data.created_at
        %td= number_with_separator data.skill
        %td= number_with_separator data.score
        %td= (data.score_per_second * 60).round(2)
        %td= number_with_separator data.experience
        %td= data.level
