- if @player.current_player_data_point
  .page-header
    %h1
      = @player.alias
      %small= "Updated: #{ time_ago_in_words(@player.current_player_data_point.created_at) } ago (Updates: Every #{ pp_timespan @player.update_frequency.interval })"

      - @player.badges.each do |badge|
        %img{src: "/images/badges/#{ badge.image }", title: badge.name }

  .row
    .col-md-4
      = form_tag url(:players, :update, id: @player.id), method: 'post', class: 'btn' do
        = submit_tag 'Update', class: 'btn btn-warning'

  .row
    .col-md-4
      %h2 Stats
      = partial 'players/player_data', locals: { player: @player }

    .col-md-8
      = partial 'players/skill_progression', locals: { player_data_points: @player_data_points }
      = partial 'players/player_data_point_pagination', locals: { player: @player, dataset: @player_data_points }

  .row
    %h2 Graphs
  .row
    .col-md-12
      = partial 'player_graphs/skill', locals: { player: @player }

  .row
    .col-md-12
      = partial 'player_graphs/playtime', locals: { player: @player }

- else
  .jumbotron
    %h1= "Account: #{ @player.account_id }"
    = "Please stand by while we retrieve data."
    - if @player.update_scheduled_at
      = "Update was scheduled: #{ time_ago_in_words(@player.update_scheduled_at) } ago"
    %br
    Feel free to reload the page in a few seconds!
