- if @player.current_player_data_point
  .page-header
    %h1
      = skill_tier_badge_image(@player.skill_tier_badge)
      = @player.alias
      %small= "Updated: #{ time_ago_in_words(@player.last_update_at) } ago (Updates: Every #{ timespan_in_words @player.update_frequency.interval })"

      - @player.badges.each do |badge|
        = badge_image badge

  .row
    .col-md-4
      = form_tag url(:players, :update, id: @player.id), method: 'post', class: 'btn' do
        = submit_tag 'Update', class: 'btn btn-warning'

      = form_tag url(:players, :export, id: @player.id), method: 'post', class: 'btn' do
        = submit_tag 'Download CSV', class: 'btn btn-info'

  .row
    .col-md-4
      %h2 Steam
      = partial 'players/steam_data', locals: { player: @player }

      %h2 Ingame
      = partial 'players/gorge_data', locals: { player_statistics: @player_statistics }

      %h2
        Hive
        %small{'data-toggle': 'tooltip', title: 'Ranks are updated every few minutes, and may be slightly out of date.'} [?]
      = partial 'players/hive_data', locals: { player: @player }

    .col-md-8
      %h2 Skill progression
      = partial 'players/skill_progression', locals: { player_data_points: @player_data_points }
      = partial 'players/player_data_point_pagination', locals: { player: @player, dataset: @player_data_points }

  .row
    %h2 Graphs
  .row
    .col-md-12
      = partial 'player_graphs/skill', locals: { player: @player }

  .row
    .col-md-12
      = partial 'player_graphs/playtime', locals: { player: @player }

- else
  = partial 'players/placeholder', locals: { player: @player }
